body {
    background-color: #A13C1A;
    color: hsl(0, 100%, 25%);
    text-align: left;
}
main{ 
    gap: 50px;
    background-color: #F0E4CB;
    border-color: #ECA237;
    border-width: 10px;
    border-style: solid;
    width: 90%;
    margin: auto;
}

#topper {
    background-color: #522402;
    /* how do I make it fill the blank space above? */
}



h1 {
    font-size: 30px;
    color: #F1D043;
}
em{
    font-style:normal;
}

.big {
    color: rgb(226, 106, 32);

}

div{
    

}
