body {
    background-color: #A13C1A;
    color: hsl(0, 100%, 25%);
    text-align: left;
}

nav {
    display:flex;
    align-items: center;
}

main { 
    gap: 50px;
    background-color: #F0E4CB;
    border-color: #ECA237;
    border-width: 10px;
    border-style: solid;
    width: 90%;
    margin: auto;
}

.logo {
    transform: scaleX(-1);
    margin: 3% 9% 3% 9%;
    
}

.secondlogo {
    margin: 3% 9% 3% 9%;
}

.orangebutton {
    background-color: #ECA237;
    border: 3px solid #D44F22;
  border-radius: 12px;
  color: #522402;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  font-size: 80%;
  width: 7%;
  height: 30px;
  font-family: "Montserrat", sans-serif;
  transition-duration: 0.2s;
  text-decoration: none;

}

.orangebutton:hover {
    background-color: #F1D043;
    border: 3px solid #ECA237;
  border-radius: 12px;
  color: #522402;
  transition-duration: 0.2s;
  text-decoration: none;

}


#topper {
    background-color: #522402;
    display:flex;
}

h1 {
    font-family: "Kanit", sans-serif;
    color: #F1D043;
    text-align: center;
}

.baby {
    margin-left: 2%;
    margin-top: 3%;
    font-weight: 400;
    font-size: 200%;

}

.beef {
    font-weight: 600;
    font-size: 300%;
}

.main {
    display: flex;
    justify-content: space-between;
}

.buton {
    margin-top: 4%;
    margin-left: 4%;
    display: flex;
    flex-direction: column;
}

.button-container {
    margin: 3% 2% 0 8%; 
    width: 120%;
  }

.brownbutton {
    width: 100%;
    height: 70px;
    max-width: none;
    padding: 15px 32px;
    display:block;
    background-color: #A13C1A;
    border: 3px solid #522402;
    border-radius: 12px;
    color: #F1D043;
    text-align: center;
    font-size: 110%;
    font-family: "Montserrat", sans-serif;
    transition-duration: 0.2s;
    cursor: pointer;
    margin-bottom: 10px;
}

.brownbutton:hover {
    background-color: #F1D043;
    border: 3px solid #D44F22;
  border-radius: 12px;
  color: #D44F22;
}

.churken {
    display:none;
    position: absolute;
    padding: 0;
}

.chcontent {
    background-color: #F0E4CB;
    border-width: 3px;
    border-color: #522402;
    border-style: solid;
    display: table-cell;
    position: absolute;
 }

.chcontent a {
   padding: 16px 16px;
   display: block;
   font-size: 100%;
   text-decoration: none;
   text-align: center;
   font-family: "Montserrat", sans-serif;
   color: #522402;
   border-style:inherit;
}

.chcontent a:hover {
    color:#D44F22;
    background-color: #F1D043;
}


.churken:hover, .brownbutton:focus + .churken {
    display: block;
    position: absolute;
}

.locationbar {
    display: flex;
    background-color: #F0E4CB;
    border-width: 3px;
    border-color: #522402;
    border-style: solid;
    width:max-content;
    padding: 30px 50px;
}

.finder {
    background-color: #ECA237;
    border: 3px solid #D44F22;
    border-radius: 12px;
    color: #522402;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    width: 80%;
    height: 40px;
}

.missionsection {
    margin: 2%;
    margin-right: 4%;
    padding: 10px 260px 10px 10px;
    width: fit-content;
    height: fit-content;
    background-color: #D44F22;
    border: 3px solid #A13C1A;
    border-color: #A13C1A;
    border-radius: 6px;
    color: #F1D043;
    text-align: center;

}

.mission {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.video {
    border: 6px solid #A13C1A;
    border-radius: 6px;
}

.egglink {
    text-decoration: none;
    color:#F1D043;
    font-family: "Kanit"
}

.egglink:hover {
    color: #F0E4CB;
}

.farmtime {
    display: 
}

.farmpicture {
    border: 6px solid #A13C1A;
    border-radius: 6px;
    margin: 2%;
    display: block;
}

.farmdetail{
    margin: 2%;
    font-family: "Montserrat", sans-serif;
}

h2 {

}

h3 {
 margin: 2%;
 font-family: "Montserrat", sans-serif;
}

h4 {
    margin: 2%;
    font-family: "Montserrat", sans-serif;
}

em{
    font-style:normal;
}

.big {
    color: rgb(226, 106, 32);

}

